.search-field {
    display: inline-block;
    width: 40%;
    justify-content: space-between;
    margin-left: 15%;
    height: 95%;
}
.search-button{
    background-color: #e7746f!important;
}

.search-input{
    width: 400px;
}

.input{
    color: white;
}
