.search-field {
    display: inline-flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 25%;
    margin-right: 0%;
    height: 80%;
}
.search-button{
    background-color: #e7746f!important;
}

.search-input{
    width: 400px;
}

