.search-field {
    display: inline-block;
    width: 25%;
    justify-content: space-between;
    margin-left: 27%;
    height: 95%;
}

.search-input{
    width: 400px;
}

.input{
    color: white;
}
