:root {
    --border: 1px solid #393939;
}

.order-item {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 2fr 3fr 2fr;
    grid-column-gap: 10px;
    align-items: center;
    padding: 20px 30px;
    background-color: white;
    border-bottom: var(--border);
}

.order-item:nth-child(2n) {
    border-left: var(--border);
}

.order-item:last-child {
    border-bottom: none;
}

.order-item:nth-last-child(2):nth-child(odd) {
    border-bottom: none;
}

.order-item:last-child:nth-child(odd):not(:first-child) {
    border-right: var(--border);
}

.order-item-image-container {
    background-size: cover;
}

.order-item-data {
    text-align: center;
}
