:root {
    --border: 1px solid #393939;
}

.favorites-item {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    padding: 20px 30px;
    background-color: white;
    border-bottom: var(--border);
}

.favorites-item:last-child {
    border-bottom: none;
}

.favorites-item-image-container {
    background-size: cover;
}

.favorites-item-data {
    display: flex;
    text-align: center;
    justify-content: center;
}
