.user-profile-order{
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1% 2% 3% 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.user-profile-order-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    border-bottom-style: unset;
}

.user-profile-order-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
