.form-background {
    background-color: white;
}

.login-button{
    background-color: #e7746f !important;
}

.reg-button{
    background-color: gray !important;
}

.collapsible-body.without-padding{
    padding: 0px;
}

.collapsible-header.small-font-size{
    font-size: 16px;
}
