.comment-section{
    display: flex;
    flex-direction: column;
}

.number-of-comments{
    text-align: left;
    border-bottom:1px solid #dee0e3;
    border-bottom-width: medium;
    margin-bottom: 40px;
}
