.cart-item {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    padding: 20px 30px;
    background-color: white;
    border-bottom-style: groove;
}

.image-container {
    background-size: cover;
}

.cart-item-data {
    text-align: center;
}

.cart-item-quantity {
    justify-items: center;
    text-align: center;
}

.cart-item-clear {
    text-align: center;
}

.button_fro_cart_items {
    height: 40px;
    width: 40px;
}

.icon-styles {
    cursor: pointer;
}
