.collection_page{
    padding: 40px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 10px;
}

.collection-item-data{
    width: max-content;
}

.collection-item-comment{
    width: 1080px;
    text-align: center;
}
