.buttons-container{
    display: flex;
    justify-content: flex-end;
}


.prior-button{
    background-color: #e7746f !important;
    margin-left: 1vw;
}

.unprior-button{
    background-color: gray !important;
}

.preview {
    width: 50%;
}

.file-selector-wrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.file-selector{
    text-align: center;
}

.title{
    align-items: center;
}

.image-column-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-button{
    display: block;
    position: absolute;
    top: 225px;
    left: 325px;
}

.file-field.input-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-field.with-note{
    display: grid;
    grid-template-columns: 2fr 5fr;
    font-size: 30px;
}
