.comment {
    width: 1000px;
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-column-gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.profile-image {
    width: 150px;
    height: 150px;
    margin: 50px;
}

.person-icon {
    font-size: 100px;
}

.email-icon {
    margin-left: 15px;
    color: #e7746f;
}

.comment-data-container {
    display: grid;
    grid-template-rows: 2fr 4fr 1fr;
    height: fit-content;
    width: 800px;
    padding: 30px;
}

.comment-name {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.comment-email {
    text-align: left;
    font-weight: bold;
    color: #e7746f;
}

.comment-text {
    text-align: left;
    word-wrap: anywhere;
}

.comment-date {
    text-align: left;
}
